@import url(reset.css);
@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

.container{
    padding-left: 8vw;
}

body{
    box-sizing: border-box;
    font-family: var(--familia-fonte);
    background-color: var(--cinza-fundo);
}

.none{
    display: none;
}

.flex{
    display: flex;
}

/* @keyframes loading {
	0% {
        
		transform: rotate(0);
        border-radius: 100%;
	}
	100% {
       
		transform: rotate(360deg);
        border-radius: 100%;
	}
} */


@keyframes textoAnimado {
    0%{
        width: 0%;
        
    }
    25%{
        width: 5%;
    }
    50%{
        width: 10%;
        
    }
    75%{
        width: 15%;
    }
    100%{
        width: 20%;
        
    }
}


.animation__imagem{
    background-image: url('../../img/loading.gif');
    background-position: center;
    background-size: cover; 
    border-radius: 100%;
    
    animation: loading 2s linear infinite;
    width: 50vw;
    height: 50vh;
    opacity: .7;
    position: relative;
    margin: auto;
    margin-bottom: 10vh;
}

.animation__frase{
    text-align: center;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
   white-space: nowrap;
   margin: auto;
   padding: 1rem;
  
   font-size: var(--tamanho-titulo);
   font-weight: var(--peso-bold);
   color:var(--cinza-claro);
   overflow: hidden;
   animation: textoAnimado 5s infinite steps(40) both;
}

