@import url(reset.css);
@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

.container{
    padding-left: 8vw;
}

body{
    font-family: var(--familia-fonte);
    background-color: var(--cinza-fundo);
}

.none{
    display: none;
}

.block{
    display: flex;
}

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}



.animation__imagem{
    animation: loading 2s linear infinite;
    width: 50vw;
    height: 50vw;
    position: absolute;
    top: 25%;
    left: 25%;
    border-radius: 50%;
}