.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--cinza-fundo);
}
.cards__container{
    margin: 0 1rem;
}
.cards__titulo{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: var(--tamanho--titulo);
    color: var(--preto-claro);
    font-weight: var(--peso-bold);
}

.cards_titulo--link{
    color: var(--azul);
    font-size: var(--tamanho-pequeno);
}

.cards__titulo--link-seta{
    width: .625rem;
    height: .625rem;
    padding-left: .5rem;
}
.cards__produto{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.cards__produto--imagem{
    width: 43vw;
    height: 10.875rem;
}
.cards__produto--titulo{
    color: var(--preto-claro);
    font-weight: var(--peso-medium);
    font-size: var(--tamanho-pequeno);
}
.cards__produto--preco{
    color:var(--preto-claro) ;
    font-weight: var(--peso-bold);
}

.cards__produto--link{
    color: var(--azul);
    font-weight: var(--peso-bold);
    font-size: var(--tamanho-pequeno);
    margin-bottom: 1rem;
}

.cards__produto--desktop{
    display: none;
}

@media screen and (min-width:768px){
    .cards{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .cards__container{
        margin: 0 2rem;
    }
    .cards__titulo{
        margin-top: 2rem;
    }
    .cards__produto--imagem{
        width: 21vw;
    }

    .cards__titulo--link-seta{
        width: 1rem;
        height: 1rem;
        padding-left: .5rem;
    }

    .cards__produto--link{
        font-size: var(--tamanho-normal);
        margin-bottom: 2rem;
    }
    .cards__produto--desktop{
        display: none;
    }
}

@media screen and (min-width:1040px){
    .cards{
        grid-template-columns: repeat(6,1fr);
    }

    .cards__container{
        margin: 0 6.8rem;
    }
    .cards__produto--desktop{
        display: flex;
    }
    .cards__titulo{
        margin-top: 4rem;
        font-size: 2rem;
    }
    .cards__produto--imagem{
        width: 12vw;
    }
    .cards__produto--link{
        font-size: var(--tamanho-normal);
        margin-bottom: 4rem;
    }
}
/*
.card_produto{
    display: flex;
}

.card__produto--imagem{
    display: block;
    width: 100vw;
    height: 12rem;
    border: 1px solid black;
}

.card__produto--dados{
    display: block;
    border: 1px solid red;
    width: 56vw;
}

.card__produto--titulo{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    color: var(--preto-claro);
    font-weight: var(--peso-medium);
    font-size: var(--tamanho-titulo);
}
.card__produto--preco{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    color:var(--preto-claro) ;
    font-weight: var(--peso-bold);
}

.card__produto--descricao{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: var(--tamanho-pequeno);
    color: var(--preto-claro);
    font-weight: var(--peso-regular);
    line-height: 1rem;
}

@media screen and (min-width:768px){
    .card_produto{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .card__produto--imagem{
        width: 33vw;
        height: 9.8125rem;
    }
    
    .card__produto--titulo{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        color: var(--preto-claro);
        font-weight: var(--peso-medium);
        font-size: var(--tamanho-titulo);
    }
    .card__produto--preco{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: .5rem;
        color:var(--preto-claro) ;
        font-weight: var(--peso-bold);
    }
    
    .card__produto--descricao{
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: .5rem;
        margin-bottom: 2rem;
        font-size: var(--tamanho-pequeno);
        color: var(--preto-claro);
        font-weight: var(--peso-regular);
        line-height: 1rem;
    }
}*/