.produto-cadastro{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.produto-cadastro__formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.produto-cadastro__formulario--legend{
    margin-bottom: 1rem;
    color:var(--preto-claro);
    font-weight: var(--peso-bold);
    font-size: var(--tamanho-titulo);
}
.produto-cadastro__formulario--label{
    
}

.produto-cadastro__formulario--arquivos{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.375rem;
    width: 100%;
    background-color: var(--branco);
    cursor: pointer;
    border: 1px dashed #C8C8C8;
    text-align: center;
    color: #6b6b6b;
    font-weight: 400;
}



.produto-cadastro__formulario--arquivos-over{
    border-style: solid;
   
}

.produto-cadastro__formulario--arquivos-meuArquivo{
    
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.produto-cadastro__formulario--arquivos-mensagem{

}

.produto-cadastro__formulario--arquivos-arquivo{
    display: none;
}

.produto-cadastro__formulario--label--imagem{
    width: 100%;
    position: absolute;
    height: 8.375rem;
}

.produto-cadastro__formulario--legend--icone{
    position: relative;
    width: 1.16rem;
    height: 1.16rem;
   
}

.produto-cadastro__formulario--label--paragrafo{
    color: var(--preto-claro);
    font-size: var(--tamanho-pequeno);
    font-weight: var(--peso-regular);
}
.produto-cadastro__formulario--arquivo{
    display: none;
}
.produto__cadastro--texto{
    border-radius: 0.25rem;
    box-shadow: 0px 1px 0rem 0 RGBA(0,0,0,0.30);
    height: 3.5rem;
}
.produto__cadastro--button{
    width: 100%;
}

.produto-cadastro__formulario--paragrafo-ou{
    display: none;
}
.produto-cadastro__formulario--arquivos--button{
    display: none;
    transition: .3s;
}
.produto-cadastro__formulario--arquivos--button:hover{
    background-color: var(--azul-claro);
    transition: .3s;
}

.produto__cadastro--categoria{
    height: 3.5rem;
    border-radius: 0.25rem;
    box-shadow: 0px 1px 0rem 0 RGBA(0,0,0,0.30);
    cursor: pointer;
}

@media screen and (min-width:768px){
    .produto-cadastro{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
    .produto-cadastro__formulario--label{
        display: flex;
        width: 100%;
        height: 9.5rem;
        gap: .5rem;
        align-items: center;
    }
    .produto-cadastro__formulario--arquivos-meuArquivo{
        width: 33vw;
    }
    .produto-cadastro__formulario--paragrafo-ou{
        display: block;
    }

    
    .produto-cadastro__formulario--arquivos{
        width: 20vw;
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    .produto-cadastro__formulario--arquivos--button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        width: 100%;
        height: 3.1875rem;
        background-color: transparent;
        border: 1px solid var(--azul);
        color: var(--azul);
        padding: 0.75rem 1rem 0.75rem 1rem;
        font-size: var(--tamanho-pequeno);
        font-weight: var(--peso-semi-bold);
        cursor: pointer;
    }
    .computador{
        display: none;
    }
}

@media screen and (min-width:1040px){
    .produto-cadastro{
        margin-top: 4rem;
        margin-left: 15.8rem;
        margin-right: 15.8rem;
        margin-bottom: 4rem;
    }
    .produto-cadastro__formulario--label{
        width: 100%;
        display: flex;
        align-items: center;
        
    }
    .tablet{
        display: none;
    }
    .computador{
        display: flex;
       
    }
    .produto-cadastro__formulario--arquivos--button{
        padding: 1rem;
    }
}   