.produto-cadastro{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.produto-cadastro__formulario{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.produto-cadastro__formulario--legend{
    margin-bottom: 1rem;
    color:var(--preto-claro);
    font-weight: var(--peso-bold);
    font-size: var(--tamanho-titulo);
}
.produto-cadastro__formulario--label{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8.375rem;
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    gap: 1.375rem;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.produto-cadastro__formulario--legend--icone{
    width: 1.16rem;
    height: 1.16rem;
}

.produto-cadastro__formulario--label--paragrafo{
    color: var(--preto-claro);
    font-size: var(--tamanho-pequeno);
    font-weight: var(--peso-regular);
}
.produto-cadastro__formulario--arquivo{
    display: none;
}
.produto__cadastro--texto{
    border-radius: 0.25rem;
    box-shadow: 0px 1px 0rem 0 RGBA(0,0,0,0.30);
    height: 3.5rem;
}
.produto__cadastro--button{
    width: 100%;
}

.produto-cadastro__formulario--paragrafo-ou{
    display: none;
}
.produto-cadastro__formulario--arquivos--button{
    display: none;
}

@media screen and (min-width:768px){
    .produto-cadastro{
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
    .produto-cadastro__formulario--label{
        width: 33vw;
        height: 9.5rem;
    }
    .produto-cadastro__formulario--paragrafo-ou{
        display: block;
    }
    .produto-cadastro__formulario--arquivos{
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    .produto-cadastro__formulario--arquivos--button{
        display: block;
        background-color: transparent;
        box-sizing: border-box;
        width: 25vw;
        height: 3.1875rem;
    }
    .computador{
        display: none;
    }
}

@media screen and (min-width:1040px){
    .produto-cadastro{
        margin-top: 4rem;
        margin-left: 15.8rem;
        margin-right: 15.8rem;
        margin-bottom: 4rem;
    }
    .produto-cadastro__formulario--label{
        width: 37vw;
    }
    .tablet{
        display: none;
    }
    .computador{
        display: block;
    }
    .produto-cadastro__formulario--arquivos--button{
        width: 20.5vw;
    }
}   